.img-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px;
  row-gap: 1em;
}

.correct-clicks {
  text-align: center;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.btn--reset-container {
  text-align: right;
  margin: 10px;
  padding: 10px;
}

.btn--reset {
  font-size: 24px;
  border-radius: 2px;
}